{{define "index"}}
<html>
<head>
  <!--
    It is pretty easy to add this to the build pipeline, but not shown here.
  -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
	{{quote "Mat Ryer" "/img/mat-avatar.jpg" "Jon is brilliant. A modern Albert Einstein!"}}
	{{quote "Jon Calhoun" "/img/jon-avatar.jpg" "Don't believe a word Mat says." "He likes to yank my chain."}}
</body>
</html>
{{end}}
